template(id="template-card")
    li.column.is-one-third-widescreen.is-one-third-desktop.is-half-tablet
        article.card
            .card-image
                figure.image.is-square
                    img.lazy(data-src='#', alt='' data-srcset='')
            .card-content
                .media
                    .media-content
                        h3.title.is-6.card__title
                    p.card__description
                .content

                    p.card__weight
                        span
                        | г.
                    p.card__price
                        span
                        | ₽
