.cards {
  position: relative;
  flex-grow: 1;
}

.cards.container {
  width: 100%;
}

.cards__list {
  width: 100%;
  margin: 0;
}

.cards__loader {
  display: none;
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  .loader {
    height: 4rem;
    width: 4rem;
  }
  &.is-loading {
    display: block;
  }
}

@media screen and (max-width: 769px) {
  .cards {
    max-height: calc(100% - 45px);
    overflow-y: scroll;
  }
}
